dictionary/bin/
dictionary/build/
dictionary/.settings/
dictionary/objectbox-models/
dictionary/objectbox-jni-windows-x64.dll
dictionary/objectbox-notes-db/data.mdb
dictionary/objectbox-notes-db/lock.mdb
dictionary/.classpath
dictionary/objectbox-models/default.json
