dictionary/build/
dictionary/.settings/
dictionary/objectbox-models/
dictionary/objectbox-jni-windows-x64.dll
dictionary/objectbox-notes-db/
dictionary/.classpath
dictionary/objectbox-models/default.json
/.idea/
/.settings/
/bin/
/gradle/
/.gradle/
/dictionary.iml
/objectbox-jni-windows-x64.dll
