/objectbox-models/
/libobjectbox-jni-macos-x64.dylib
/objectbox-jni-windows-x64.dll
/objectbox-notes-db/
/.classpath
/objectbox-models/default.json
/.idea/**
/build/**
/settings/
/.settings/
/bin/**
/gradle/
/.gradle/
/dictionary.iml
/objectbox-dictionary-db/
/test-objectbox-dictionary-db/data.mdb
/test-objectbox-dictionary-db/lock.mdb

